  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Проекты:</h2>
               <h3 class="text-muted">Проект: Завод</h3>      
               <p class="text-muted">Описание проекта завод. Описание проекта завод. Описание проекта завод. Описание проекта завод. Описание проекта завод. Описание проекта завод. Описание проекта завод. Описание проекта завод. Описание проекта завод. Описание проекта завод. Описание проекта завод. Описание проекта завод. Описание проекта завод. Описание проекта завод. Описание проекта завод. Описание проекта завод. Описание проекта завод. Описание проекта завод. Описание проекта завод. Описание проекта завод. Описание проекта завод. Описание проекта завод. Описание проекта завод. Описание проекта завод. Описание проекта завод.</p>
               <h3 class="text-muted">Проект: Завод</h3>      
               <p class="text-muted">Описание проекта завод. Описание проекта завод. Описание проекта завод. Описание проекта завод. Описание проекта завод. Описание проекта завод. Описание проекта завод. Описание проекта завод. Описание проекта завод. Описание проекта завод. Описание проекта завод. Описание проекта завод. Описание проекта завод. Описание проекта завод. Описание проекта завод. Описание проекта завод. Описание проекта завод. Описание проекта завод. Описание проекта завод. Описание проекта завод. Описание проекта завод. Описание проекта завод. Описание проекта завод. Описание проекта завод. Описание проекта завод.</p>               
          </div>
      </div>
  </aside>
